.container_frame{
    display: flex;
    justify-content: space-between;
}
h1{
    font-weight: lighter;
    margin: 10px;
    line-height: 1.5em;
    text-align: left;
}
.text_part{
    display: flex;
    align-items: center;
}

.text_intro p{
    color: #C5A70F;
    margin: 0;
}
.button_intro{
    display: flex;
    justify-content: start;
}
.picture_part{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
.intro_image{
    object-fit: cover;
    width: 100%;
    height: 80%;
}
.decore_image{
    position: relative;
    height: 60%;
    width: 8px;

    background-color: #C5A70F;
}
.text_additionally{
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
}
.text_add{
    width: 45%;
    text-align: left;
    word-wrap: break-word;
}
.text_add p{
    text-align: left;
    word-wrap: break-word;
    margin: 0;
}